//colours
//light theme
//bg
$LightBGPrime: #fff;
$LightBGSec: #f9f9f9;
$LightBGSecGray: #eaebee;
$LightBGPrimeGray: #eef0f4;
$darkBG: #252e48;
$PrimCol: #1d50b5;
//colour
$SearchColour: #252e48;
$lightGrayColour: #4b4b4b;
$darkGrayColour: #303030;
//dark theme
//bg
//colour
